<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="welcom.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=test;Uid=root;Pwd=0508427167" name="test" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
